@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #475577 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #475577 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #475577;
}
.btn-social:hover {
  background: #475577;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #475577;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #475577;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #475577;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #475577;
}
.lead a,
.lead a:hover {
  color: #475577;
}
.lead blockquote {
  border-color: #475577;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #475577;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#footer1-2 P {
  font-size: 10px;
}
#msg-box2-12 .mbr-section-title {
  color: #fff;
}
#msg-box2-12 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box8-l .mbr-section-title,
#msg-box8-l p {
  color: #fff;
}
#msg-box8-l .lead P {
  font-size: 15px;
}
#msg-box2-11 .mbr-section-title {
  color: #fff;
}
#msg-box2-11 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box8-10 .mbr-section-title,
#msg-box8-10 p {
  color: #fff;
}
#msg-box2-16 .mbr-section-title {
  color: #fff;
}
#msg-box2-16 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box8-13 .mbr-section-title,
#msg-box8-13 p {
  color: #fff;
}
#msg-box2-15 .mbr-section-title {
  color: #fff;
}
#msg-box2-15 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-15 .mbr-section-title SPAN {
  text-align: right;
}

#menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7 .navbar-caption {
  color: #ffffff;
}
#menu-7 .navbar-toggler {
  color: #ffffff;
}
#menu-7 .link,
#menu-7 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-7 .link {
  font-size: 0.6rem;
}
#menu-7 .dropdown-item,
#menu-7 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-7 .link:hover,
#menu-7 .dropdown-item:hover,
#menu-7 .link:focus,
#menu-7 .dropdown-item:focus {
  color: #c0a375;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-menu {
  background: #0e0e0e;
}
#menu-7 .nav-dropdown-sm .link:focus,
#menu-7 .nav-dropdown-sm .link:hover,
#menu-7 .nav-dropdown-sm .dropdown-item:focus,
#menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7 .bg-color.transparent.opened .link:hover,
#menu-7 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-7 .close-icon::before,
#menu-7 .close-icon::after {
  background-color: #ffffff;
}
#menu-7 SPAN {
  font-size: 20px;
}
#menu-7 A {
  font-size: 10px;
}
#footer1-8 P {
  font-size: 10px;
}
#form1-9 .form-control-label {
  color: #efefef;
}
#form1-9 .mbr-section-title {
  color: #efefef;
}
#form1-9 SMALL {
  color: #efefef;
}

#menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-f .navbar-caption {
  color: #ffffff;
}
#menu-f .navbar-toggler {
  color: #ffffff;
}
#menu-f .link,
#menu-f .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-f .link {
  font-size: 0.6rem;
}
#menu-f .dropdown-item,
#menu-f .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-f .link:hover,
#menu-f .dropdown-item:hover,
#menu-f .link:focus,
#menu-f .dropdown-item:focus {
  color: #c0a375;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-menu {
  background: #0e0e0e;
}
#menu-f .nav-dropdown-sm .link:focus,
#menu-f .nav-dropdown-sm .link:hover,
#menu-f .nav-dropdown-sm .dropdown-item:focus,
#menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-f .navbar,
#menu-f .nav-dropdown-sm,
#menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-f .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-f .bg-color.transparent.opened .link:hover,
#menu-f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-f .close-icon::before,
#menu-f .close-icon::after {
  background-color: #ffffff;
}
#menu-f SPAN {
  font-size: 20px;
}
#menu-f A {
  font-size: 10px;
}
#footer1-g P {
  font-size: 10px;
}
#msg-box8-k .mbr-section-title,
#msg-box8-k p {
  color: #fff;
}

#msg-box6-1c .mbr-section-title,
#msg-box6-1c .lead p {
  color: #fff;
}
#menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-17 .navbar-caption {
  color: #ffffff;
}
#menu-17 .navbar-toggler {
  color: #ffffff;
}
#menu-17 .link,
#menu-17 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-17 .link {
  font-size: 0.6rem;
}
#menu-17 .dropdown-item,
#menu-17 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-17 .link:hover,
#menu-17 .dropdown-item:hover,
#menu-17 .link:focus,
#menu-17 .dropdown-item:focus {
  color: #c0a375;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-menu {
  background: #0e0e0e;
}
#menu-17 .nav-dropdown-sm .link:focus,
#menu-17 .nav-dropdown-sm .link:hover,
#menu-17 .nav-dropdown-sm .dropdown-item:focus,
#menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-17 .navbar,
#menu-17 .nav-dropdown-sm,
#menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-17 .bg-color.transparent.opened .link:hover,
#menu-17 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-17 .close-icon::before,
#menu-17 .close-icon::after {
  background-color: #ffffff;
}
#menu-17 SPAN {
  font-size: 20px;
}
#menu-17 A {
  font-size: 10px;
}
#footer1-18 P {
  font-size: 10px;
}
#gallery1-19 LI {
  color: #ffffff;
}

#msg-box6-1d .mbr-section-title,
#msg-box6-1d .lead p {
  color: #fff;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1e .link {
  font-size: 0.9rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #0e0e0e;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e SPAN {
  font-size: 20px;
}
#menu-1e A {
  font-size: 10px;
}
#footer1-1f P {
  font-size: 10px;
}

#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1h .link {
  font-size: 0.6rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #c0a375;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #0e0e0e;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h SPAN {
  font-size: 20px;
}
#menu-1h A {
  font-size: 10px;
}
#footer1-1i P {
  font-size: 10px;
}
#msg-box8-1u .mbr-section-title,
#msg-box8-1u p {
  color: #fff;
}


#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
}
#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-q .link {
  font-size: 0.6rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #c0a375;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #0e0e0e;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #ffffff;
}
#menu-q SPAN {
  font-size: 20px;
}
#menu-q A {
  font-size: 10px;
}
#footer1-r P {
  font-size: 10px;
}
#content1-28 P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #534e4e;
}
#header1-u .mbr-section-title {
  font-size: 48px;
}

#menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1p .navbar-caption {
  color: #ffffff;
}
#menu-1p .navbar-toggler {
  color: #ffffff;
}
#menu-1p .link,
#menu-1p .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1p .link {
  font-size: 0.6rem;
}
#menu-1p .dropdown-item,
#menu-1p .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-1p .link:hover,
#menu-1p .dropdown-item:hover,
#menu-1p .link:focus,
#menu-1p .dropdown-item:focus {
  color: #c0a375;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-menu {
  background: #0e0e0e;
}
#menu-1p .nav-dropdown-sm .link:focus,
#menu-1p .nav-dropdown-sm .link:hover,
#menu-1p .nav-dropdown-sm .dropdown-item:focus,
#menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1p .navbar,
#menu-1p .nav-dropdown-sm,
#menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1p .bg-color.transparent.opened .link:hover,
#menu-1p .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1p .close-icon::before,
#menu-1p .close-icon::after {
  background-color: #ffffff;
}
#menu-1p SPAN {
  font-size: 20px;
}
#menu-1p A {
  font-size: 10px;
}
#footer1-1q P {
  font-size: 10px;
}
#msg-box8-1r .mbr-section-title,
#msg-box8-1r p {
  color: #fff;
}

#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-20 .link {
  font-size: 0.9rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #0e0e0e;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#menu-20 SPAN {
  font-size: 20px;
}
#menu-20 A {
  font-size: 10px;
}
#footer1-21 P {
  font-size: 10px;
}
#msg-box8-22 .mbr-section-title,
#msg-box8-22 p {
  color: #fff;
}

#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-24 .link {
  font-size: 0.9rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #c0a375;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}
#menu-24 SPAN {
  font-size: 20px;
}
#menu-24 A {
  font-size: 10px;
}
#footer1-25 P {
  font-size: 10px;
}
#msg-box8-26 .mbr-section-title,
#msg-box8-26 p {
  color: #fff;
}
#msg-box8-26 .lead P {
  text-align: right;
}

#menu-2a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2a .navbar-caption {
  color: #ffffff;
}
#menu-2a .navbar-toggler {
  color: #ffffff;
}
#menu-2a .link,
#menu-2a .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-2a .link {
  font-size: 0.6rem;
}
#menu-2a .dropdown-item,
#menu-2a .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-2a .link:hover,
#menu-2a .dropdown-item:hover,
#menu-2a .link:focus,
#menu-2a .dropdown-item:focus {
  color: #c0a375;
}
#menu-2a .link[aria-expanded="true"],
#menu-2a .dropdown-menu {
  background: #0e0e0e;
}
#menu-2a .nav-dropdown-sm .link:focus,
#menu-2a .nav-dropdown-sm .link:hover,
#menu-2a .nav-dropdown-sm .dropdown-item:focus,
#menu-2a .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2a .navbar,
#menu-2a .nav-dropdown-sm,
#menu-2a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2a .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2a .bg-color.transparent.opened .link:hover,
#menu-2a .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2a .link[aria-expanded="true"],
#menu-2a .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2a .close-icon::before,
#menu-2a .close-icon::after {
  background-color: #ffffff;
}
#menu-2a SPAN {
  font-size: 20px;
}
#menu-2a A {
  font-size: 10px;
}
#footer1-2b P {
  font-size: 10px;
}
#form1-2c .form-control-label {
  color: #efefef;
}
#form1-2c .mbr-section-title {
  color: #efefef;
}
#form1-2c SMALL {
  color: #efefef;
}
